################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LersMobile/.vs
/LersMobile/LersMobile/LersMobile.Android/obj
/LersMobile/LersMobile.Core/obj
/LersMobile/LersMobile/LersMobile.Android/bin/
/LersMobile/LersMobile.Core/bin/
/LersMobile/LersMobile/LersMobile.Android/LersMobile.Android.csproj.user
/LersMobile/LersMobile/LersMobile/LersMobile.shproj.user
*.log
